*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(248, 245, 240);
}

header{
    display:flex;
    align-items:center;
    padding:20px 80px;
    background:rgba(247, 220, 164, 0.637);
}
.logo img{
    width: 40%;
}
.menu{
    display: flex;
    margin-right: 60px;
}

.menu a{
    text-decoration:none;
    color:#795736; 
    margin-right:60px;
}


section{
    background:rgb(211, 177, 147);
    color:white;
    display:flex;
    align-items:center;
    padding:60px;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px;
}
.texto h1{
    margin: 0 auto;
}

.texto p{
    margin-bottom:15px;
}
.botao{
    background:rgb(212, 178, 140);
    color:white;
    padding:10px 20px;
    text-decoration:none;
    
    transition: transform 0.3s ease;
    animation: pulse 1.8s ease-in-out infinite;
}

.botao:hover{
    background: rgb(190, 150, 110);
}

.botao2{
    border:1px solid white;
    color:white;
    padding:10px 20px;
}


.cards{
    display:flex;
    padding:100px;
    color: rgba(85, 60, 34, 0.63);
}
.cards h2{
    color:rgb(90, 60, 25);
}

.card{
    width: 60%;
    text-align: center;
    margin-bottom:15px;
    
}

.card img{
    width:60%;
    border-radius: 20px;
    margin-bottom:15px;
    transition: transform 0.3s ease;
    
}

.card:hover img{
    transform: scale(1.08);
}

.card h3{
    margin-bottom:10px;
    color: rgb(87, 50, 13);
}


.sobre{
    background: rgb(53, 45, 38);
    color: white;
    align-items: center;
    padding:100px;
}

table{
    background:white;
    border-radius:15px;
    padding:15px;
    text-align: justify;
}
.cardapio{
    background: rgb(255, 255, 255);
    align-items: center;
    padding:80px;
}
.cardapio h2{
    color: #422b13;
}
.cabeça{
    background-color:rgb(63, 31, 9);
    color:rgb(250, 229, 204);
    text-align: center;
}

tr{
    border-bottom:1px solid #6e5e4a;
}

td{
    background:white;
}


.lista{
    background: rgb(247, 220, 164, 0.637);
    color: rgb(73, 49, 26);
    align-items: center;
    padding:90px;
}


footer{
    background:rgb(31, 26, 21);
    color:white;
    text-align:center;
    padding:40px;
}
.redes{
    text-align:center;
}
.redes img{
    width:30px;
    margin:10px;
}