*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(248, 245, 240);
}

header{
    display:flex;
    align-items:center;
    padding:20px 80px;
    background:white;
}
.logo img{
    width: 40%;
}
.menu{
    display:flex;
    gap: 30px;
    padding-left: 60%;
}

.menu a{
    text-decoration:none;
    color:#4a3a2a;
}

.hero{
    background:#352d26;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
}

.hero img{
    width:60%;
    border-radius: 20px;
}

.botao{
    background:rgb(212, 178, 140);
    color:white;
    padding:10px 20px;
    text-decoration:none;
}

.botao2{
    border:1px solid white;
    color:white;
    padding:10px 20px;
    text-decoration:none;
}

.cards{
    display:flex;
    padding:60px;
}

.card{
    width: 60%;
    text-align: center;
}

.card img{
    width:60%;
    border-radius: 20px;
}

footer{
    background:rgb(31, 26, 21);
    color:white;
    text-align:center;
    padding:40px;
}
.redes{
    text-align:center;
}

.redes img{
    width:30px;
    margin:10px;
}