*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(248, 245, 240);
}

header{
    display:flex;
    align-items:center;
    padding:20px 80px;
    background:rgba(247, 220, 164, 0.637);
}
.logo img{
    width: 40%;
}
.menu{
    padding-left: 60%;
    gap: 20px;
    display: flex;
}

.menu a{
    text-decoration:none;
    color:#795736; 
}

section{
    background:rgb(53, 45, 38);
    color:white;
    display:flex;
    align-items:center;
    padding:60px;
}

section img{
    width:49%;
    border-radius: 15px;
    margin-left: 250px;
}

.botao{
    background:rgb(212, 178, 140);
    color:white;
    padding:10px 20px;
    text-decoration:none;
}
.botao2{
    border:1px solid white;
    color:white;
    padding:10px 20px;
}

.cards{
    display:flex;
    padding:60px;
}

.card{
    width: 60%;
    text-align: center;
    color: rgb(73, 49, 26);
}

.card img{
    width:60%;
    border-radius: 20px;
}


.sobre{
    background: rgb(53, 45, 38);
    color: white;
    align-items: center;
    padding:90px;
}
table{
    text-align: center;
    font-size: 15px;
    margin-left: 60px;
}
.cabeça{
    background-color:rgb(63, 31, 9);
    color:rgb(250, 229, 204);
}
.linha{
    background-color:rgb(143, 76, 32);
    color:beige;
    
}
.proxima{
    background-color:rgb(229, 189, 155);
}
.cardapio{
    background: rgb(255, 255, 255);
    align-items: center;
    padding:80px;
}
.cardapio h2{
    color: #422b13;
}
.lista{
    background: rgb(247, 220, 164, 0.637);
    color: rgb(73, 49, 26);
    align-items: center;
    padding:80px;
}

footer{
    background:rgb(31, 26, 21);
    color:white;
    text-align:center;
    padding:40px;
}
.redes{
    text-align:center;
}
.redes img{
    width:30px;
    margin:10px;
}